#fondo {
  background: url("../imagenes/prism1.png") repeat;
  background-attachment: fixed;
  color: white;
}

#header {
  background: url("../imagenes/Fondo.jpg") repeat;
  background-attachment: fixed;
}

#Contactar {
  text-align: center;
}

a:link {
	color: white;
	font-family: arial;
	text-decoration: none
	}
	
a:hover {
	color: white;
	font-family: arial;
	text-decoration: none
	}
a:visited {
	color: white;
	font-family: arial;
	text-decoration: none
	}
